automation/n8n/workflows/ember-kdp-qa.workflow.json
{
  "id": "ember-kdp-qa",
  "name": "Ember KDP QA",
  "nodes": [
    {
      "parameters": { "path": "ember/kdp-qa", "httpMethod": "POST", "responseMode": "responseNode" },
      "id": "webhook-kdp-qa",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "117e76dc-384b-495b-b61e-3fd7119a650e"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3333/qa/kdp",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body ?? $json }}"
      },
      "id": "http-kdp-qa",
      "name": "HTTP Request to Local API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [520, 300]
    },
    {
      "parameters": { "respondWith": "allIncomingItems", "options": { "responseCode": 200 } },
      "id": "respond-kdp-qa",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [780, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": { "main": [[{ "node": "HTTP Request to Local API", "type": "main", "index": 0 }]] },
    "HTTP Request to Local API": { "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": {},
  "versionId": "ember-kdp-qa-v1"
}
