automation/n8n/workflows/ember-generate-storyboard.workflow.json
{
  "id": "ember-generate-storyboard",
  "name": "Ember Generate Storyboard",
  "nodes": [
    {
      "parameters": { "path": "ember/storyboard", "httpMethod": "POST", "responseMode": "responseNode" },
      "id": "webhook-storyboard",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "4a0ff482-df46-4a17-a671-fc99d6c9b527"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3333/generate/storyboard",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body ?? $json }}"
      },
      "id": "http-storyboard",
      "name": "HTTP Request to Local API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [520, 300]
    },
    {
      "parameters": { "respondWith": "allIncomingItems", "options": { "responseCode": 200 } },
      "id": "respond-storyboard",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [780, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": { "main": [[{ "node": "HTTP Request to Local API", "type": "main", "index": 0 }]] },
    "HTTP Request to Local API": { "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": {},
  "versionId": "ember-storyboard-v1"
}
