automation/n8n/workflows/ember-generate-seek-page.workflow.json
{
  "id": "ember-generate-seek-page",
  "name": "Ember Generate Seek Page",
  "nodes": [
    {
      "parameters": {
        "path": "ember/seek-page",
        "httpMethod": "POST",
        "responseMode": "responseNode"
      },
      "id": "webhook-seek-page",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "14165461-b841-4e0c-891d-d021702221c7"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3333/generate/seek-page",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.body ?? $json }}"
      },
      "id": "http-seek-page",
      "name": "HTTP Request to Local API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [520, 300]
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "id": "respond-seek-page",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [780, 300]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{ "node": "HTTP Request to Local API", "type": "main", "index": 0 }]]
    },
    "HTTP Request to Local API": {
      "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {},
  "versionId": "ember-seek-page-v1"
}
